.App-background {
  width: 100%;
  min-height: 100%;
  color: #75736e;
  background: #f7f6f3; 
  position: absolute;
  background-size: 400%, 400%;
}

.overlay-styles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7); 
  z-index: 1000;
}

.modal-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f6f3;
  padding: 25px;
  z-index: 1000;
  color: #75736e;
  border-radius: 7px;
}

.new-character-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 175px;
}

.form-input p {
  color: red;
}
